body{
    background-color: black;
}

h1 {
    font-family: Griffon;
    align-self: center;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(111, 197, 195);
}

#film {
    width: max-content;
    align-self: center;
    padding-left: 20%;
    padding-right: 20%;
}

/* #buttonBox{
    width: 400px;
    align-self: center;
    
} */

#button1 {
    margin-left: 25%;
    background-image:url("https://raw.githubusercontent.com/fionavi/IMI/master/ABGABE/media/button.png");
	background-repeat:no-repeat;
    background-size: contain;
	background-position: 0px, 0px;
	width:150px;
    height: 150px;
}

#button2 {
    margin-left: 25%;
    background-image:url("https://raw.githubusercontent.com/fionavi/IMI/master/ABGABE/media/button.png");
	background-repeat:no-repeat;
    background-size: contain;
	background-position: 0px, 0px;
	width:150px;
    height: 149px;
}
